<h1><%= @farm %></h1>
<p>
  <%= @farm.address %><br/>
  <%= @farm.zipcode %> <%= @farm.city %>
</p>
<p><%= link_to @farm.owner, @farm.owner %></p>
<% if can? :manage, @farm or (current_user.present? and @farm.owner_id == current_user.id) %>
    <%= link_to 'Edit', edit_farm_path(@farm), class: 'btn btn-primary btn-sm'  %>
<% end %>

<h2>Produits</h2>
<div class="row">
  <% @farm.products.each do |product| %>
    <div class="col-md-3">
      <%= render 'products/product', product: product %>
    </div>
  <% end %>
</div>