<section id='farm_section' class="container-fluid">
	<div class='row'>
		<nav class='col-md-2 col-sm-3 menu-filter'>
			<div class='filter-section'>
				<p class="filter-section-title">Catégories</p>
				<label class='filter' data-filter='fruit'><input type='checkbox'>Fruits</label>
				<label class='filter' data-filter='légumes'><input type='checkbox'>Légumes</label>
				<label class='filter' data-filter='viande'><input type='checkbox'>Viande</label>
				<label class='filter' data-filter='bio'><input type='checkbox'>Bio</label>
			</div>
			<div class='filter-section'>
				<p class="filter-section-title">Trier Par</p>
				<label class='filter' data-filter='proximite'><input type='checkbox'>Proximité</label>
				<label class='filter' data-filter='prix'><input type='checkbox'>Prix</label>
			</div>
			<div class='filter-section'>
				<form class='form-inline'>
					<input type='text' placeholder="Produits..." class='recherche_nav form-control'>
					<span class='input-group-btn'>
						<input type='submit' class='btn btn-default' value=''>
					</span>
				</form>
			</div>
		</nav>
		<div class='col-md-10 results'>
			<div class="row">
				<h2 class='text-center'><%= @farm %></h2>
			</div>
			<div class="row">
  				<% @farm.products.each do |product| %>
				<div class="col-md-3">
					<%= render 'products/product', product: product %>
				</div>
  				<% end %>
			</div>
		</div>
	</div>
</section>



<p>
  <%= @farm.address %><br/>
  <%= @farm.zipcode %> <%= @farm.city %>
</p>
<p><%= link_to @farm.owner, @farm.owner %></p>
<% if can? :manage, @farm or (current_user.present? and @farm.owner_id == current_user.id) %>
    <%= link_to 'Edit', edit_farm_path(@farm), class: 'btn btn-primary btn-sm'  %>
<% end %>

<h2>Produits</h2>
