<h1><%= @farm %></h1>
<p>
  <%= @farm.address %><br/>
  <%= @farm.zipcode %> <%= @farm.city %>
</p>
<p><%= link_to @farm.owner, @farm.owner %></p>

<%= link_to 'Edit', edit_farm_path(@farm), class: 'btn btn-primary btn-sm'  %>

<h2>Produits</h2>

<ul>
<% @farm.products.each do |product| %>
  <li><%= link_to product, product %></li>
<% end %>
</ul>