<p id="notice"><%= notice %></p>

<p>
    <strong>Pseudo :</strong>
    <%= @user.nickname %>
</p>

<p>
    <strong>Email :</strong>
    <%= @user.email %>
</p>


<p>
    <strong>Prénom :</strong>
    <%= @user.first_name %>
</p>

<p>
    <strong>Nom :</strong>
    <%= @user.last_name %>
</p>
<p>
    <strong>Addresse :</strong>
    <%= @user.address %>
</p>

<p>
    <strong>Code Postal :</strong>
    <%= @user.zipcode %>
</p>

<p>
    <strong>Ville :</strong>
    <%= @user.city %>
</p>

<p>
    <strong>Admin :</strong>
    <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
