<section class="shoppingcart">
  <h2>Mon panier</h2>
  <% if @shopping_cart.shopping_cart_items.length==0 %>
  <div class="shopping-cart-empty"></div>
  <p class='shopping-cart-empty'>Votre panier est vide.<br>
    <%= link_to 'Voulez-vous continuer vos achats ?', farms_path %>
  </p>
  <% else %>
  <% @shopping_cart.shopping_cart_items.each do |shopping_cart_item| %>
  <% if shopping_cart_item.item.nil? %>
    <% shopping_cart_item.delete %>
  <% else %>
  <div class='row product'>
    <img src='https://www.organicfacts.net/wp-content/uploads/2013/05/Fruits3.jpg' alt='' class='col-sm-4'/>
    <div class="description col-sm-5">
      <p class='title'><%= link_to shopping_cart_item.item, shopping_cart_item.item %></p>
      <p class='price'><%= number_to_currency shopping_cart_item.item.price %></p>
      <p class='farm-name col-xs-12'><%= shopping_cart_item.item.farm %></p>
      <p class='details col-xs-12'><%= shopping_cart_item.item.description %></p>
      <div class='remove col-xs-12'>
        <%= link_to raw('Supprimer'), shopping_cart_path(product_id: shopping_cart_item.item.id , quantity: -shopping_cart_item.quantity), method: :post , class:'delete'%>
      </div>
    </div>
    <div class="col-sm-3 cart">
      <div class='row'>
        <div class='total col-sm-12 col-xs-6'>
          <span>Total :
          </span>
          <span class='price'><%= number_to_currency shopping_cart_item.subtotal %></span>
        </div>
        <div class='quantity col-sm-12 col-xs-6'>
          <span>Quantité :</span>
          <span><%= link_to raw('<i class="glyphicon glyphicon-minus-sign"></i>'), shopping_cart_path(product_id: shopping_cart_item.item.id, quantity: -1), method: :post %>
            <%= shopping_cart_item.quantity %>
            <%= link_to raw('<i class="glyphicon glyphicon-plus-sign"></i>'), shopping_cart_path(product_id: shopping_cart_item.item.id, quantity: 1), method: :post %>
          </span>
        </div>
        <div class="delivery col-sm-12">
          <p>
            <strong>Prix livraison</strong>
          </p>
          <p>Délai de traitement estimé :
            <strong>XXX</strong>
          </p>
          <p>Délai de livraison :
            <strong>XXX</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class='row paypal'>
    <div class="col-sm-6"></div>
    <div class="col-sm-6 col-xs-12 total">
      <p class="nb-article">Nombre d'article &nbsp
        <span><%= @shopping_cart.total_unique_items %></span>
      </p>
      <p class="subtotal-price">Total hors taxe &nbsp<span><%= number_to_currency @shopping_cart.subtotal %></span>
      </p>
      <p class="taxe">TVA &nbsp<span><%= number_to_currency @shopping_cart.taxes %></span>
      </p>
      <p class="total-price">Total TTC &nbsp<span><%= number_to_currency @shopping_cart.total %></span>
      </p>
      <div class="payment-way">
        <p>Mode de paiement</p>
        <label>Paypal :
          <input type='radio'></label>
      </div>
      <div class="delivery">
        <p>
          <strong>Prix livraison</strong>
        </p>
        <p>Délai de traitement estimé :
          <strong>XXX</strong>
        </p>
        <p>Délai de livraison :
          <strong>XXX</strong>
        </p>
      </div>
      <%= link_to 'Passez commande', products_path , class: 'btn btn-primary btn-sm add_panier' %>
    </div>
  </div>
  <% end %>  <!-- End if shopping_cart_items.length == 0 -->
</section>
