
<%= simple_form_for @product do |f| %>
<div class="form-inputs">
  <%= f.input :name, :label =>'Nom produit' %>
  <%= f.input :price, :label =>'Prix' %>
  <%= f.association :farm, :label=> 'Ferme'%>
</div>
<div class="form-actions">
  <%= f.button :submit, :value=>'Validez' %>
</div>
<% end %>
