<p id="notice"><%= notice %></p>

<h1>Produits</h1>

<%= link_to 'Ajouter un produit', new_product_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Numéro de ferme</th>
      <th>Bio</th>
      <th>Quantité</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product, product %></td>
        <td><%= product.price %></td>
        <td><%= product.farm_id %></td>
        <td><%= product.bio %></td>
        <td><%= product.quantite %></td>
        <td>
			<%= link_to 'Ajouter au panier', shopping_cart_path(product_id: product.id), :method => 'POST' , class: 'btn btn-primary btn-sm' %>
			<%= link_to 'Editer produit', edit_product_path(product), class: 'btn btn-primary btn-sm' %>
			<%= link_to 'Supprimer', product, method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
